@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: DM Sans, Titan One, system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #D41443;
  background-color: #ffffff;
  border-radius: 22px;
  min-width: 210px;
  height: 44px;
  border: none;
  cursor: pointer;
  transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1), 500ms color cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn:hover, .btn:focus {
  background-color: #ECEBEB;
}

.mob-menu__container {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 12;
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background: #E17992;
  transform: translateX(0);
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mob-menu__container.is-open {
  transform: translateX(-100%);
}

.mob-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 11;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mob-menu__container.is-open + .mob-menu__overlay {
  pointer-events: all;
  opacity: 0.2;
}

.mob-menu__button-close {
  border: 0;
  background: none;
  padding: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.mob-menu__button-buy.button-buy {
  display: flex;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 0;
  padding: auto;
  width: 210px;
  fill: #d41443;
}
.mob-menu__button-buy.button-buy .button-buy__img {
  margin-left: 25px;
}

.mob-menu__list {
  margin-top: 20px;
}

.mob-menu__item {
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;
  border: 1px solid #E18298;
}

.mob-menu__item.mob-menu__item--current .link {
  color: #d41443;
}

.mob-menu__list .link {
  color: #ffffff;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo-img {
  width: 199px;
}
@media screen and (min-width: 1200px) {
  .logo-img {
    margin-right: 128px;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.main-menu__nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .main-menu {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu {
    padding-top: 0px;
  }
}
.main-menu__list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .main-menu__list {
    display: flex;
    align-items: center;
  }
}
.main-menu__item:not(:last-child) {
  margin-right: 30px;
}
.main-menu__link {
  font-weight: 700;
  line-height: 1.31;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 52px 0;
}
.main-menu__link:hover, .main-menu__link:focus {
  color: #d41443;
}
.main-menu__link.active {
  color: #d41443;
}

.burger-button {
  display: inline-block;
  margin-left: auto;
  height: 14px;
  padding: 0;
  background: transparent;
  border: none;
}
@media screen and (min-width: 1200px) {
  .burger-button {
    display: none;
  }
}

.burger-button__svg {
  width: 20px;
  height: 14px;
}

.button-buy {
  display: inline-block;
  width: 160px;
  height: 44px;
  margin-left: 32px;
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d41443;
  cursor: pointer;
}
.button-buy:hover, .button-buy:focus {
  background-color: #ecebeb;
}
.button-buy__img {
  height: 10px;
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .button-buy {
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .button-buy {
    display: none;
  }
}

.section-hero {
  padding-top: 0;
  padding-bottom: 0;
}

.hero {
  position: relative;
  background-color: #ffb8ca;
  height: 502px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 416px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 664px;
  }
}

.hero__title {
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  width: 218px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    top: 102px;
    width: 162px;
    font-size: 22px;
    line-height: 25px;
    transform: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    top: 147px;
    width: 277px;
    transform: none;
    font-size: 38px;
    line-height: 44px;
    text-transform: uppercase;
  }
}

.hero__title--span {
  font-family: "Titan One";
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .hero__title--span {
    font-size: 34px;
    line-height: 90.5%;
    /* or 31px */
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title--span {
    font-size: 58px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
    color: #d41443;
  }
}

.hero__btn-section {
  position: absolute;
  z-index: 3;
  display: flex;
  gap: 8px;
  bottom: 158px;
}
@media screen and (min-width: 768px) {
  .hero__btn-section {
    bottom: 190px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn-section {
    bottom: 316px;
  }
}

.btn {
  height: 24px;
  padding: 0 15px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: #d41443;
  background-color: #ffffff;
}
.btn:hover, .btn:focus {
  background-color: #ecebeb;
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .btn {
    width: 138px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
}

.hero__btn--red {
  color: #ffffff;
  background-color: #d41443;
}

.hero__img-icecream {
  position: absolute;
  right: 20px;
  bottom: 0;
  z-index: 2;
}
.hero__img-icecream img {
  width: 171px;
}
@media screen and (min-width: 768px) {
  .hero__img-icecream {
    right: 303px;
    width: 143px;
    height: 336px;
  }
  .hero__img-icecream img {
    width: 143px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img-icecream {
    right: 328px;
    width: 236px;
    height: 557px;
  }
  .hero__img-icecream img {
    width: 100%;
  }
}

.hero__img-disk {
  position: absolute;
  bottom: 75px;
  right: -65px;
  width: 346px;
  height: 344px;
  background-color: #ffa5ba;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .hero__img-disk {
    right: 185px;
    bottom: 40px;
    width: 335px;
    height: 333px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img-disk {
    right: 149px;
    bottom: 77px;
    width: 534px;
    height: 534px;
  }
}

.hero__img-milk {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 152px;
  height: 154px;
}
@media screen and (min-width: 1200px) {
  .hero__img-milk {
    width: 213px;
    height: 216px;
    bottom: 60px;
    left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .hero__img-milk {
    display: none;
  }
}

.hero__img-girl {
  position: absolute;
  bottom: 0px;
  right: 21px;
  width: 190px;
  height: 150px;
}
@media screen and (min-width: 1200px) {
  .hero__img-girl {
    right: 16px;
    width: 304px;
    height: 241px;
  }
  .hero__img-girl img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .hero__img-girl {
    display: none;
  }
}

.hero__block-cafes {
  position: absolute;
  z-index: 4;
  top: 92px;
  right: 28px;
}
.hero__block-cafes__title {
  font-family: "Titan One";
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .hero__block-cafes__title {
    font-size: 46px;
    line-height: 53px;
  }
}
.hero__block-cafes__desc {
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__block-cafes__desc {
    font-size: 14px;
    line-height: 18px;
  }
}
.hero__block-cafes::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -8px;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .hero__block-cafes::before {
    right: -18px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__block-cafes {
    top: 152px;
    right: 39px;
  }
}
@media screen and (max-width: 767px) {
  .hero__block-cafes {
    display: none;
  }
}

.hero__block-trucks {
  position: absolute;
  z-index: 4;
  top: 152px;
  right: 28px;
}
.hero__block-trucks__title {
  font-family: "Titan One";
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .hero__block-trucks__title {
    font-size: 46px;
    line-height: 53px;
  }
}
.hero__block-trucks__desc {
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__block-trucks__desc {
    font-size: 14px;
    line-height: 18px;
  }
}
.hero__block-trucks::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -8px;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .hero__block-trucks::before {
    width: 30px;
    height: 30px;
    right: -18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__block-trucks {
    top: 244px;
    right: 39px;
  }
}
@media screen and (max-width: 767px) {
  .hero__block-trucks {
    display: none;
  }
}

.hero__block-text {
  position: absolute;
  width: 115px;
  left: 184px;
  bottom: 81px;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 150%;
  /* or 12px */
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__block-text {
    left: 265px;
    bottom: 130px;
    width: 200px;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .hero__block-text {
    display: none;
  }
}

.hero__block-text__btn {
  position: relative;
  background-color: #ffffff;
  height: 18px;
  width: 18px;
  display: block;
  border-radius: 50%;
  margin-top: 7px;
}
.hero__block-text__btn:focus, .hero__block-text__btn:hover {
  background-color: #ecebeb;
}
@media screen and (min-width: 1200px) {
  .hero__block-text__btn {
    width: 26px;
    height: 26px;
  }
}

.hero__block-text__svg {
  fill: #d41443;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__tab {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__tab {
    padding: 0 16px;
  }
}
.products__label {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__label {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.products__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin: 15px 0 8px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__title {
    font-size: 48px;
    line-height: 1.15;
    margin: 18px 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin: 16px 0 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    display: flex;
    gap: 32px;
  }
}
.products__item {
  position: relative;
  border-radius: 24px;
  text-align: center;
  padding: 160px 0 40px;
  margin-top: 140px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item {
    margin-top: 138px;
    padding: 118px 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    padding: 165px 0 60px;
    margin-top: 261px;
  }
}
.products__item--pink {
  background-color: #FFB8CA;
}
.products__item--pink::before {
  content: "";
  display: block;
  background-image: url(../images/products-image/home-pic1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 280px;
  position: absolute;
  top: -140px;
  left: calc(50% - 140px);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--pink::before {
    background-image: url(../images/products-image/home-pic1-2x.webp);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item--pink::before {
    background-image: url(../images/products-image/home-pic1-tab.webp);
    width: 224px;
    height: 224px;
    top: -138px;
    left: calc(50% - 112px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products__item--pink::before {
    background-image: url(../images/products-image/home-pic1-tab-2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .products__item--pink::before {
    background-image: url(../images/products-image/home-pic1-desktop.webp);
    width: 368px;
    height: 394px;
    top: -261px;
    left: calc(50% - 184px);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--pink::before {
    background-image: url(../images/products-image/home-pic1-desktop-2x.webp);
  }
}
.products__item--crema {
  background: #F0D1A5;
}
.products__item--crema::before {
  content: "";
  display: block;
  background-image: url(../images/products-image/home-pic2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 280px;
  position: absolute;
  top: -140px;
  left: calc(50% - 140px);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--crema::before {
    background-image: url(../images/products-image/home-pic2-2x.webp);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item--crema::before {
    background-image: url(../images/products-image/home-pic2-tab.webp);
    width: 224px;
    height: 224px;
    top: -138px;
    left: calc(50% - 112px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products__item--crema::before {
    background-image: url(../images/products-image/home-pic2-tab-2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .products__item--crema::before {
    background-image: url(../images/products-image/home-pic2-desktop.webp);
    width: 368px;
    height: 394px;
    top: -261px;
    left: calc(50% - 184px);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--crema::before {
    background-image: url(../images/products-image/home-pic2-desktop-2x.webp);
  }
}
.products__item--green {
  background: #C2E297;
}
.products__item--green::before {
  content: "";
  display: block;
  background-image: url(../images/products-image/home-pic3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 280px;
  position: absolute;
  top: -140px;
  left: calc(50% - 140px);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--green::before {
    background-image: url(../images/products-image/home-pic3-2x.webp);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item--green::before {
    background-image: url(../images/products-image/home-pic3-tab.webp);
    width: 224px;
    height: 224px;
    top: -138px;
    left: calc(50% - 112px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products__item--green::before {
    background-image: url(../images/products-image/home-pic3-tab-2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .products__item--green::before {
    background-image: url(../images/products-image/home-pic3-desktop.webp);
    width: 368px;
    height: 394px;
    top: -261px;
    left: calc(50% - 184px);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--green::before {
    background-image: url(../images/products-image/home-pic3-desktop-2x.webp);
  }
}
.products__item-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .products__item-title {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #ffffff;
}
.products__description {
  width: 100%;
  padding: 0 40px;
  margin: 32px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__description {
    line-height: 1.79;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__description {
    font-size: 16px;
    line-height: 1.75;
    padding: 0 63px;
    margin: 32px 0 60px;
  }
}
.products__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1), 500ms color cubic-bezier(0.165, 0.84, 0.44, 1), transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.products__button:hover, .products__button:focus {
  color: #d41443;
  background-color: #ffffff;
  transform: scale(1.1);
  box-shadow: -3px -4px 5px rgba(123, 12, 40, 0.2784313725);
}
.products__button--left {
  transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1), 500ms color cubic-bezier(0.165, 0.84, 0.44, 1), transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.products__button--left:hover, .products__button--left:focus {
  color: #d41443;
  background-color: #ffffff;
  transform: scale(1.1);
  box-shadow: -3px -4px 5px rgba(123, 12, 40, 0.2784313725);
}
.products__icon {
  fill: #d41443;
}
.products__modal-icon {
  transform: rotate(180deg);
  fill: #d41443;
}
.products__modal-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  overflow: hidden;
  position: absolute;
  border-radius: 24px;
}
.products__modal-wrapper.is-hidden {
  visibility: hidden;
}
.products__modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 140px;
  left: 0;
  background-color: #e1e1e1;
  width: 100%;
  height: calc(100% - 140px);
  border-radius: 24px;
  padding: 30px;
  padding-bottom: 40px;
  transition: opacity 0.5s, visibility 0.5s, left 0.5s;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__modal {
    padding: 30px 30px 40px;
    top: 85px;
    height: calc(100% - 85px);
  }
}
@media screen and (min-width: 1200px) {
  .products__modal {
    padding: 30px;
    padding-bottom: 60px;
    top: 135px;
    height: calc(100% - 135px);
  }
}
.is-hidden .products__modal {
  left: -100%;
}
.products__modal--pink {
  background-color: #f98ca6;
}
.products__modal--crema {
  background-color: #e9c087;
}
.products__modal--green {
  background-color: #add17c;
}
.products__modal-description {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  max-height: 170px;
  overflow: auto;
  scrollbar-width: none;
}
.products__modal-description::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__modal-description {
    max-height: 255px;
    line-height: 1.79;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 1200px) {
  .products__modal-description {
    max-height: 255px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.about {
  background-color: #fff5f6;
}
.about__label {
  margin-bottom: 15px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .about__label {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.1538461538;
  }
}
@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
    letter-spacing: 0.04em;
    line-height: 1.1333333333;
  }
}
.about__title {
  margin-bottom: 32px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.1470588235;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.1458333333;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 60px;
    font-size: 58px;
    line-height: 1.1379310345;
    letter-spacing: 0.06em;
  }
}
@media screen and (max-width: 767px) {
  .about {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    background-image: url(../images/about/about-desk-2-1x.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 235px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/about-desk-2-2x.webp);
  }
}

.tab-direction {
  position: relative;
}
@media screen and (min-width: 768px) {
  .tab-direction {
    display: flex;
  }
}
.tab-direction__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .tab-direction__picture {
    width: 336px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .tab-direction__picture {
    width: 500px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 767px) {
  .tab-direction__picture {
    margin-bottom: 40px;
  }
}

.about-description {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .about-description {
    width: 334px;
  }
}
@media screen and (max-width: 767px) {
  .about-description {
    background-image: url(../images/about/about-2-1x.webp);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about-description {
    background-image: url(../images/about/about-2-2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .about-description {
    width: 463px;
    padding-top: 90px;
  }
}
.about-description__pre-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5833333333;
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about-description__pre-text {
    font-size: 14px;
    line-height: 1.7857142857;
  }
}
@media screen and (min-width: 1200px) {
  .about-description__pre-text {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}
.about-description__post-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1875;
  color: #907e82;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-description__post-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.5833333333;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about-description__post-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.9285714286;
    letter-spacing: 0.04em;
  }
}
.about-description__span {
  display: block;
  margin-top: 20px;
}
.about-description__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 177px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  color: #d41443;
  border-radius: 22px;
  background-color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1), 500ms color cubic-bezier(0.165, 0.84, 0.44, 1), transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.about-description__button:hover, .about-description__button:focus {
  color: #ffffff;
  background-color: #d41443;
  transform: scale(1.1);
  box-shadow: -3px -4px 5px rgba(123, 12, 40, 0.2784313725);
}
.about-description__arrow {
  margin-left: 13px;
  fill: #d41443;
  transition: 500ms fill cubic-bezier(0.165, 0.84, 0.44, 1);
}
.about-description__button:hover .about-description__arrow, .about-description__button:focus .about-description__arrow {
  fill: #ffffff;
}

.about-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
}
.about-modal__backdrop {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  padding: 60px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/about/milk.webp);
  background-color: #ffd4d9;
  overflow: auto;
}
@media screen and (min-width: 320px) and (max-width: 380px) {
  .about-modal__backdrop {
    padding: 20px;
  }
}
.about-modal.is-hidden {
  transform: translate(-50%, -100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 500ms;
}
.about-modal__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7857142857;
  color: #847679;
}
@media screen and (min-width: 768px) {
  .about-modal__text {
    font-size: 14px;
    line-height: 1.5833333333;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about-modal__text {
    font-size: 16px;
    line-height: 1.9285714286;
    letter-spacing: 0.04em;
  }
}
.about-modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 137px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  color: #ffffff;
  border-radius: 22px;
  background-color: #d41443;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1), 500ms color cubic-bezier(0.165, 0.84, 0.44, 1), transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.about-modal__button:hover, .about-modal__button:focus {
  color: #d41443;
  background-color: #ffffff;
  transform: scale(1.1);
  box-shadow: -3px -4px 5px rgba(123, 12, 40, 0.2784313725);
}
.about-modal__arrow {
  transform: rotate(180deg);
  margin-right: 5px;
  fill: #ffffff;
  transition: 500ms fill cubic-bezier(0.165, 0.84, 0.44, 1);
}
.about-modal__button:hover .about-modal__arrow, .about-modal__button:focus .about-modal__arrow {
  fill: #d41443;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-cont {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-cont {
    padding: 0 16px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #fff5f6 31%, #ffffff 31%, #ffffff 69%);
}
@media screen and (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to bottom, #fff5f6 57%, #ffffff 57%, #ffffff 43%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: 60px 0;
    background-image: linear-gradient(to bottom, #fff5f6 27%, #ffffff 27%, #ffffff 73%);
  }
}

.grid__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
@media screen and (min-width: 768px) {
  .grid__wrap {
    gap: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__wrap {
    justify-content: center;
    gap: 8px;
  }
}

.grid__single {
  height: 100%;
}

.grid--bottom {
  margin-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .grid--bottom {
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .grid--bottom {
    margin-bottom: 8px;
  }
}

.grid__dual--middle {
  padding-top: 28px;
  padding-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .grid__dual--middle {
    padding-top: 67px;
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__dual--middle {
    padding-top: 89px;
    padding-bottom: 58px;
  }
}

.grid__dual--below {
  padding-top: 31px;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .grid__dual--below {
    padding-top: 75px;
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__dual--below {
    padding-top: 99px;
    padding-bottom: 46px;
  }
}

.grid__dual--higher {
  padding-top: 21px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .grid__dual--higher {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__dual--higher {
    padding-top: 66px;
    padding-bottom: 79px;
  }
}

@media screen and (min-width: 320px) {
  .customer-reviews {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-top: 60px;
  }
}

.card-list__top-wrap {
  width: 100%;
  background-color: #fafafa;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 17px;
  padding-top: 43px;
  margin-top: 32px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .card-list__top-wrap {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 36px;
    padding-top: 37px;
    margin-top: 20px;
    margin-bottom: 4px;
    width: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__top-wrap {
    padding-right: 74px;
    padding-left: 73px;
    padding-bottom: 31px;
    padding-top: 47px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 968px;
  }
}

.card-list__gradient {
  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 9px;
  background-image: repeating-linear-gradient(#fafafa 60px, #fafafa 90px, #e1e1e1 90px, #e1e1e1 91px);
}
@media screen and (min-width: 768px) {
  .card-list__gradient {
    padding-left: 44px;
    padding-right: 50px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__gradient {
    padding-left: 36px;
    padding-right: 35px;
  }
}

.card-list__iteam-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
  width: 100%;
  transform: translateY(-1px);
}
@media screen and (min-width: 768px) {
  .card-list__iteam-text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__iteam-text {
    font-size: 16px;
    line-height: 1.86;
  }
}

.card-list__iteam-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .card-list__iteam-title {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__iteam-title {
    font-size: 20px;
  }
}

.card-list__iteam-title::before {
  content: "";
  height: 4px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/reviews/points.svg");
  margin-bottom: 16px;
}

/* Slideshow */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .slideshow-container {
    width: 768px;
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .slideshow-container {
    width: 1200px;
    padding-left: 116px;
    padding-right: 116px;
  }
}

.card-list__icon {
  position: absolute;
  fill: #e1e1e1;
  top: 145px;
  left: 74px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list__icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__icon {
    top: 133px;
    left: 188px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card-list__icon--tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list__icon--tablet {
    position: absolute;
    fill: #e1e1e1;
    top: 125px;
    left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__icon--tablet {
    display: none;
  }
}
/* Next & previous buttons */
.slider-buttons {
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: -250px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #d41443;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 0 3px 3px 0;
}
@media screen and (min-width: 768px) {
  .prev,
.next {
    top: -180px;
    font-size: 22px;
    padding: 30px;
    margin-top: -34px;
  }
}
@media screen and (min-width: 1200px) {
  .prev,
.next {
    top: -200px;
    font-size: 40px;
    padding: 60px;
    margin-top: -60px;
  }
}

.slider-btn {
  border: 0;
  background-color: transparent;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: transparent;
  transform: scale(1.5);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.card-list__img {
  margin-left: auto;
  margin-right: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-image 500ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dot:not(:last-child) {
  margin-right: 18px;
}

.active,
.dot:hover {
  background-image: url("../images/reviews/dot-home.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.section-conacts {
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #fff5f6 20%, #fff5f6 100%);
  padding-top: 0;
  padding-bottom: 40px;
}

.contacts__card-set {
  margin-bottom: 32px;
  background: transparent;
}
@media screen and (min-width: 380px) and (max-width: 767px) {
  .contacts__card-set {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .contacts__card-set {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
.contacts__card {
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .contacts__card {
    padding: 40px 40px;
  }
}
.contacts__card:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__card:not(:last-child) {
    margin-bottom: 0;
  }
}
.contacts__item-title {
  padding-top: 2px;
  width: 80px;
  height: 16px;
  border-radius: 4px;
  background-color: #f0d1a5;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__item-title {
    font-size: 16px;
    line-height: 1.87;
    height: 28px;
    margin-bottom: 32px;
  }
}
.contacts__item-title--style {
  width: 138px;
  background-color: #c2e297;
}
.contacts__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    margin-bottom: 12px;
  }
}
.contacts__description {
  width: 179px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contacts__description {
    width: 159px;
    font-size: 16px;
    line-height: 1.83;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__description {
    width: 243px;
  }
}
.contacts__line {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  border: 2px;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__line {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.contacts__date:first-child {
  margin-bottom: 8px;
}
.contacts__day, .contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .contacts__day, .contacts__time {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__day, .contacts__time {
    font-size: 16px;
  }
}
.contacts__time {
  color: #ffa5ba;
}
.contacts__link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  cursor: pointer;
  transition: 500ms color cubic-bezier(0.165, 0.84, 0.44, 1), 500ms text-shadow cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contacts__link:hover {
  color: #db0037;
  text-shadow: 3px 3px 4px rgba(212, 20, 68, 0.2901960784);
}
.contacts__link:hover .contacts__link-icon {
  opacity: 1;
  transition: 500ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contacts__link-icon {
  position: absolute;
  left: 130px;
  bottom: 0;
  fill: #db0037;
  opacity: 0;
  transition: 500ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media screen and (min-width: 768px) {
  .contacts__container-btn {
    display: flex;
    justify-content: center;
  }
}
.contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 168px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  color: #d41443;
  border-radius: 22px;
  background-color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1), 500ms color cubic-bezier(0.165, 0.84, 0.44, 1), transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media screen and (min-width: 768px) {
  .contacts__button {
    margin: 0;
  }
}
.contacts__button:first-child {
  color: #ffffff;
  background-color: #d41443;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__button:first-child {
    margin-right: 15px;
    margin-bottom: 0;
  }
}
.contacts__button:first-child:hover {
  color: #ffffff;
  background-color: #db0037;
  transform: scale(1.1);
  box-shadow: -3px -4px 5px rgba(123, 12, 40, 0.2784313725);
}
.contacts__button:hover, .contacts__button:focus {
  color: #ffffff;
  background-color: #d41443;
  transform: scale(1.1);
  box-shadow: -3px -4px 5px rgba(123, 12, 40, 0.2784313725);
}

.arrow-button {
  margin-left: 13px;
  fill: #ffffff;
  transition: 500ms fill cubic-bezier(0.165, 0.84, 0.44, 1);
}

.arrow-btn-addition {
  margin-left: 13px;
  fill: #d41443;
  transition: 500ms fill cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contacts__button:hover .arrow-btn-addition, .contacts__button:focus .arrow-btn-addition {
  fill: #ffffff;
}

.footer {
  position: relative;
}

.footer__label {
  margin-bottom: 16px;
  font-family: "Titan One";
  font-style: normal;
  max-width: 232px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #FFA5BA;
}
@media screen and (min-width: 480px) {
  .footer__label {
    max-width: 100%;
  }
}

.footer__title {
  margin-bottom: 40px;
  font-family: "Titan One";
  font-style: normal;
  max-width: 200px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.1470588235;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 480px) {
  .footer__title {
    max-width: 100%;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-bottom: 40px;
}

.socials__link {
  fill: #FEA5BB;
  transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1), 500ms color cubic-bezier(0.165, 0.84, 0.44, 1);
}
.socials__link:hover, .socials__linkfocus {
  fill: #D41443;
}

.footer__tel {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;
  color: #000000;
}

.footer__link {
  color: #D41443;
}

.footer__border {
  position: absolute;
  border: 1px solid #E1E1E1;
  width: 100%;
  bottom: 60px;
}
.footer__privacy {
  margin-bottom: 3px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907E82;
}/*# sourceMappingURL=index.css.map */