<section class="about">
    <div class="container">
        <p class="about-label">tradition and love</p>
        <h2 class="about-title">how it’s made?</h2>
        <picture class="about-picture">
            <source srcset="./images/about/about-desk-1-1x.webp 1x,
                    ./images/about/about-desk-1-2x.webp 2x" media="(min-width: 1200px)">
            <source srcset="./images/about/about-tab-1-1x.webp 1x,
                    ./images/about/about-tab-1-2x.webp 2x" media="(min-width: 768px)">
            <source srcset="./images/about/about-1-1x.webp 1x,
                    ./images/about/about-1-2x.webp 2x" media="(min-width: 320px)">
            <img src="./images/about/about-1-1x.webp" alt="cow with milk" width="280" height="280">
        </picture>
        <div class="about-description">
            <p class="about-description__pre-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
                justo cursus, faucibus
                lorem eget, egestas
                eros.
                Maecenas eleifend erat at justo fringilla.</p>

            <p class="about-description__post-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                elementum. Mauris rhoncus
                orci
                in imperdiet
                placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

                Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
    </div>
</section>