<section class="advantages">
    <div class="container container-advantages ">
    <ul class="advantages-list">
        <li class="advantages-link">
        <div class="advantages-div">
            <svg class="advantages-icon" width="50" height="50">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-milk"></use>
              </svg>
        </div>
        <h2 class="advantages-logo">721</h2>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    
    
         <li class="advantages-link">
        <div class="advantages-div">
            <svg class="advantages-icon" width="50" height="50">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-apples"></use>
              </svg>
        </div>
        <h2 class="advantages-logo">16kg</h2>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    
    
         <li class="advantages-link">
        <div class="advantages-div">
            <svg class="advantages-icon" width="50" height="50">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-ice-cream"></use>
              </svg>
        </div>
        <h2 class="advantages-logo">84</h2>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>
</section>