<!-- SECTION CONTACTS -->

<section class="section section-conacts" id="contacts">
  <div class="container contacts">
    <h2 class="visually-hidden">contacts and working hours</h2>

    <div class="contacts__card-set">
      <div class="contacts__card">
        <div class="contacts__list">
          <div class="list contacts__item">
            <p class="contacts__item-title">CAFE</p>
            <h3 class="contacts__title">Chicago</h3>
            <p class="contacts__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
        </div>
        <hr class="contacts__line" />
        <ul class="list contacts__aside">
          <li class="contacts__date">
            <p class="contacts__day">Monday - Friday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__date">
            <p class="contacts__day">Saturday - Sunday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
        </ul>
        <hr class="contacts__line" />
        <ul class="list contacts__inner">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:610383766284">
              <svg class="contacts__link-icon" width="10px" height="16px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-smartphone"></use>
              </svg>
              +61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">
              <svg class="contacts__link-icon" width="16px" height="12px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-envelope"></use>
              </svg>
              noreply@envato.com</a>
          </li>
        </ul>
      </div>

      <div class="contacts__card">
        <ul class="contacts__list">
          <li class="list contacts__item">
            <p class="contacts__item-title contacts__item-title--style">
              FOOD TRUCK
            </p>
            <h3 class="contacts__title">Los Angeles</h3>
            <p class="contacts__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <hr class="contacts__line" />
        <ul class="list contacts__aside">
          <li class="contacts__date">
            <p class="contacts__day">Monday - Friday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__date">
            <p class="contacts__day">Saturday - Sunday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
        </ul>
        <hr class="contacts__line" />
        <ul class="list contacts__inner">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:610383766284">
              <svg class="contacts__link-icon" width="10px" height="16px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-smartphone"></use>
              </svg>
              +61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">
              <svg class="contacts__link-icon" width="16px" height="12px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-envelope"></use>
              </svg>
              noreply@envato.com</a>
          </li>
        </ul>
      </div>
      <div class="contacts__card">
        <ul class="contacts__list">
          <li class="list contacts__item">
            <p class="contacts__item-title">CAFE</p>
            <h3 class="contacts__title">New York</h3>
            <p class="contacts__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <hr class="contacts__line" />
        <ul class="list contacts__aside">
          <li class="contacts__date">
            <p class="contacts__day">Monday - Friday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__date">
            <p class="contacts__day">Saturday - Sunday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
        </ul>
        <hr class="contacts__line" />
        <ul class="list contacts__inner">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:610383766284">
              <svg class="contacts__link-icon" width="10px" height="16px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-smartphone"></use>
              </svg>
              +61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">
              <svg class="contacts__link-icon" width="16px" height="12px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-envelope"></use>
              </svg>
              noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="contacts__container-btn">
      <button class="btn contacts__button" type="button">
        Our Locations
        <svg class="arrow-button" width="7" height="10">
          <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="btn contacts__button" type="button">
        Franchise
        <svg class="arrow-btn-addition" width="7" height="10">
          <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>