<!-- SECTION CONTACTS -->

<section class="section section-conacts" id="contacts">
  <div class="container contacts">
    <h2 class="visually-hidden">contacts and working hours</h2>

    <ul class="contacts__card-sets">
      <li class="list contacts__card">
        <div class="contacts__list">
          <p class="contacts__item-title">CAFE</p>
          <h3 class="contacts__title">Chicago</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="list contacts__aside">
          <li class="contacts__date">
            <p class="contacts__day">Monday - Friday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__date">
            <p class="contacts__day">Saturday - Sunday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
        </ul>
        <ul class="list contacts__inner">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:610383766284">
              <svg class="contacts__link-icon" width="10px" height="16px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-smartphone"></use>
              </svg>
              +61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">
              <svg class="contacts__link-icon" width="16px" height="12px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-envelope"></use>
              </svg>
              noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="list contacts__card">
        <div class="contacts__list">
          <p class="contacts__item-title contacts__item-title--style">
            FOOD TRUCK
          </p>
          <h3 class="contacts__title">Los Angeles</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="list contacts__aside">
          <li class="contacts__date">
            <p class="contacts__day">Monday - Friday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__date">
            <p class="contacts__day">Saturday - Sunday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
        </ul>
        <ul class="list contacts__inner">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:610383766284">
              <svg class="contacts__link-icon" width="10px" height="16px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-smartphone"></use>
              </svg>
              +61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">
              <svg class="contacts__link-icon" width="16px" height="12px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-envelope"></use>
              </svg>
              noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="list contacts__card">
        <div class="contacts__list">
          <p class="contacts__item-title">CAFE</p>
          <h3 class="contacts__title">New York</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="list contacts__aside">
          <li class="contacts__date">
            <p class="contacts__day">Monday - Friday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__date">
            <p class="contacts__day">Saturday - Sunday</p>
            <time class="contacts__time" datetime="2014-06-27T19:00:00+02:00">06:00 AM - 10:00 PM</time>
          </li>
        </ul>
        <ul class="list contacts__inner">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:610383766284">
              <svg class="contacts__link-icon" width="10px" height="16px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-smartphone"></use>
              </svg>
              +61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">
              <svg class="contacts__link-icon" width="16px" height="12px">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-envelope"></use>
              </svg>
              noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__container-btn">
      <li class="list contacts__btn-rotator">
        <button class="btn contacts__button" type="button">
          Our Locations
          <svg class="arrow-button" width="7" height="10">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="list contacts__btn-rotator">
        <button class="btn contacts__button--last" type="button">
          Franchise
          <svg class="arrow-btn-addition" width="7" height="10">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- LOCATION -->

<!-- <section class="locations is-hidden" data-menu>
  <div class="container container-locations">
    <div class="locations__img"></div>
    <button class="locations__button-close" data-menu-button-close>
      <svg class="locations__icon-close" width="20" height="20">
        <use href="./images/svg-sprite/svg-sprite.svg#icon-close-cross"></use>
      </svg>
    </button>
    <a href="./" class="locations__logo">
      <img
        src="./images/header/logo.svg"
        alt="Logo"
        width="199"
        height="50"
        class="logo-img"
      />
    </a>
    <nav class="locations__nav">
      <h2 class="locations__title">LOCATION</h2>
      <div class="location__container-btn">
        <button class="location__button" type="button">
          Chicago
          <svg class="arrow-button" width="7" height="10">
            <use
              href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"
            ></use>
          </svg>
        </button>
        <button class="location__button" type="button">
          Los Angeles
          <svg class="arrow-btn-addition" width="7" height="10">
            <use
              href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"
            ></use>
          </svg>
        </button>
        <button class="location__button" type="button">
          New York
          <svg class="arrow-btn-addition" width="7" height="10">
            <use
              href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"
            ></use>
          </svg>
        </button>
      </div>
    </nav>

    <button
      type="button"
      class="locations-menu__button-buy"
      data-modal-btm-open
    >
      Buy now
      <svg class="button-buy__img">
        <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>

    <ul class="locations-menu__list list">
      <li class="locations-menu__item">
        <a href="#header" class="mob-menu__link link current-link" data-header
          >Home</a
        >
      </li>
      <li class="locations-menu__item">
        <a href="#reviews" class="mob-menu__link link" data-reviews>About us</a>
      </li>
      <li class="locations-menu__item">
        <a href="#howitsmade" class="mob-menu__link link" data-howitsmade
          >How it’s made?</a
        >
      </li>
      <li class="locations-menu__item">
        <a href="#products" class="mob-menu__link link" data-products
          >Our products</a
        >
      </li>
      <li class="locations-menu__item">
        <a href="#contacts" class="mob-menu__link link" data-contacts
          >Contact</a
        >
      </li>
    </ul>
  </div>
</section> -->