<footer class="footer">
  <div class="footer__border"></div>
  <div class="container">
    <p class="footer__label">homemade ice cream made</p>
    <h2 class="footer__title">with passion</h2>
    <ul class="socials list">
      <li class="socials__item">
        <a class="socials__link link" href="https://github.com/" target="_blank">
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials__link link" href="https://web.telegram.org/z/" target="_blank">
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials__link link" href="https://www.facebook.com/" target="_blank">
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>    
    <span class="footer__tel">Feel free to contact&nbsp; 
        <a href="tel:+61(0)383766284" class="footer__link"> +61 (0) 383 766 284</a>
    </span>
    <p class="footer__privacy">&#169; 2022 - IceCream.
        All Rights Reserved. </p>
  </div>
</footer>
