<section class="section gallery">
  <h2 class="visually-hidden">Gallery</h2>

  <div class="grid container">
    <div class="grid__wrap">
      <div class="grid__single">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-01.webp    1x,
              ./images/gallery/gallery-01-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-01-tab.webp    1x,
              ./images/gallery/gallery-01-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-01-mob.webp    1x,
              ./images/gallery/gallery-01-mob-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:320px)"
          />
          <img
            srcset="
              ./images/gallery/gallery-01.png        138w,
              ./images/gallery/gallery-01-2x.png     276w,
              ./images/gallery/gallery-01-tab.png    105w,
              ./images/gallery/gallery-01-tab-2x.png 210w,
              ./images/gallery/gallery-01-mob.png     44w,
              ./images/gallery/gallery-01-mob-2x.png  88w
            "
            sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
            src="./images/gallery/gallery-01.png"
            alt="green ice cream"
          />
        </picture>
      </div>
      <div class="grid__dual--middle">
        <div class="grid--bottom">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-02.webp    1x,
                ./images/gallery/gallery-02-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-02-tab.webp    1x,
                ./images/gallery/gallery-02-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-02-mob.webp    1x,
                ./images/gallery/gallery-02-mob-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <img
              srcset="
                ./images/gallery/gallery-02.png        138w,
                ./images/gallery/gallery-02-2x.png     276w,
                ./images/gallery/gallery-02-tab.png    105w,
                ./images/gallery/gallery-02-tab-2x.png 210w,
                ./images/gallery/gallery-02-mob.png     44w,
                ./images/gallery/gallery-02-mob-2x.png  88w
              "
              sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
              src="./images/gallery/gallery-02.png"
              alt="an ice cream cone"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-03.webp    1x,
                ./images/gallery/gallery-03-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-03-tab.webp    1x,
                ./images/gallery/gallery-03-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-03-mob.webp    1x,
                ./images/gallery/gallery-03-mob-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <img
              srcset="
                ./images/gallery/gallery-03.png        138w,
                ./images/gallery/gallery-03-2x.png     276w,
                ./images/gallery/gallery-03-tab.png    105w,
                ./images/gallery/gallery-03-tab-2x.png 210w,
                ./images/gallery/gallery-03-mob.png     44w,
                ./images/gallery/gallery-03-mob-2x.png  88w
              "
              sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
              src="./images/gallery/gallery-03.png"
              alt="pink ice cream"
            />
          </picture>
        </div>
      </div>
      <div>
        <div class="grid--bottom">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-04.webp    1x,
                ./images/gallery/gallery-04-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-04-tab.webp    1x,
                ./images/gallery/gallery-04-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-04-mob.webp    1x,
                ./images/gallery/gallery-04-mob-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <img
              srcset="
                ./images/gallery/gallery-04.png        283w,
                ./images/gallery/gallery-04-2x.png     566w,
                ./images/gallery/gallery-04-tab.png    215w,
                ./images/gallery/gallery-04-tab-2x.png 430w,
                ./images/gallery/gallery-04-mob.png     90w,
                ./images/gallery/gallery-04-mob-2x.png 180w
              "
              sizes="(min-width:1200px) 283px, (min-width:768px) 215px, (min-width:320px) 90px, 215px"
              src="./images/gallery/gallery-04.png"
              alt="berry ice cream cones"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-05.webp    1x,
                ./images/gallery/gallery-05-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-05-tab.webp    1x,
                ./images/gallery/gallery-05-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-05-mob.webp    1x,
                ./images/gallery/gallery-05-mob-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <img
              srcset="
                ./images/gallery/gallery-05.png        138w,
                ./images/gallery/gallery-05-2x.png     276w,
                ./images/gallery/gallery-05-tab.png    105w,
                ./images/gallery/gallery-05-tab-2x.png 210w,
                ./images/gallery/gallery-05-mob.png     44w,
                ./images/gallery/gallery-05-mob-2x.png  88w
              "
              sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
              src="./images/gallery/gallery-05.png"
              alt="girl with ice cream"
            />
          </picture>
        </div>
      </div>
      <div class="grid__dual--below">
        <div class="grid--bottom">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-06.webp    1x,
                ./images/gallery/gallery-06-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-06-tab.webp    1x,
                ./images/gallery/gallery-06-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-06-mob.webp    1x,
                ./images/gallery/gallery-06-mob-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <img
              srcset="
                ./images/gallery/gallery-06.png        138w,
                ./images/gallery/gallery-06-2x.png     276w,
                ./images/gallery/gallery-06-tab.png    105w,
                ./images/gallery/gallery-06-tab-2x.png 210w,
                ./images/gallery/gallery-06-mob.png     44w,
                ./images/gallery/gallery-06-mob-2x.png  88w
              "
              sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
              src="./images/gallery/gallery-06.png"
              alt="ice cream in a bowl"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-07.webp    1x,
                ./images/gallery/gallery-07-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-07-tab.webp    1x,
                ./images/gallery/gallery-07-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-07-mob.webp    1x,
                ./images/gallery/gallery-07-mob-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <img
              srcset="
                ./images/gallery/gallery-07.png        138w,
                ./images/gallery/gallery-07-2x.png     276w,
                ./images/gallery/gallery-07-tab.png    105w,
                ./images/gallery/gallery-07-tab-2x.png 210w,
                ./images/gallery/gallery-07-mob.png     44w,
                ./images/gallery/gallery-07-mob-2x.png  88w
              "
              sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
              src="./images/gallery/gallery-07.png"
              alt="ice cream cone in hand"
            />
          </picture>
        </div>
      </div>
      <div class="grid__dual--">
        <div class="grid--bottom">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-08.webp    1x,
                ./images/gallery/gallery-08-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-08-tab.webp    1x,
                ./images/gallery/gallery-08-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-08-mob.webp    1x,
                ./images/gallery/gallery-08-mob-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <img
              srcset="
                ./images/gallery/gallery-08.png        138w,
                ./images/gallery/gallery-08-2x.png     276w,
                ./images/gallery/gallery-08-tab.png    105w,
                ./images/gallery/gallery-08-tab-2x.png 210w,
                ./images/gallery/gallery-08-mob.png     44w,
                ./images/gallery/gallery-08-mob-2x.png  88w
              "
              sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
              src="./images/gallery/gallery-08.png"
              alt="the dog eats ice cream"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-09.webp    1x,
                ./images/gallery/gallery-09-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-09-tab.webp    1x,
                ./images/gallery/gallery-09-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-09-mob.webp    1x,
                ./images/gallery/gallery-09-mob-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <img
              srcset="
                ./images/gallery/gallery-09.png        138w,
                ./images/gallery/gallery-09-2x.png     276w,
                ./images/gallery/gallery-09-tab.png    105w,
                ./images/gallery/gallery-09-tab-2x.png 210w,
                ./images/gallery/gallery-09-mob.png     44w,
                ./images/gallery/gallery-09-mob-2x.png  88w
              "
              sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
              src="./images/gallery/gallery-09.png"
              alt="chocolate milkshake"
            />
          </picture>
        </div>
      </div>
      <div class="grid__single">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-10.webp    1x,
              ./images/gallery/gallery-10-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-10-tab.webp    1x,
              ./images/gallery/gallery-10-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-10-mob.webp    1x,
              ./images/gallery/gallery-10-mob-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:320px)"
          />
          <img
            srcset="
              ./images/gallery/gallery-10.png        138w,
              ./images/gallery/gallery-10-2x.png     276w,
              ./images/gallery/gallery-10-tab.png    105w,
              ./images/gallery/gallery-10-tab-2x.png 210w,
              ./images/gallery/gallery-10-mob.png     44w,
              ./images/gallery/gallery-10-mob-2x.png  88w
            "
            sizes="(min-width:1200px) 138px, (min-width:768px) 105px, (min-width:320px) 44px, 105px"
            src="./images/gallery/gallery-10.png"
            alt="donut with ice cream"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
