<header class="header">
  <div class="container main-menu">
    <nav class="main-menu__nav">
      <a href="./" class="logo" width="199px" height="50px">
        <img src="./images/header/logo.svg" alt="Logo" width="199" class="logo-img" />
      </a>

      <ul class="main-menu__list list">
        <li class="main-menu__item">
          <a href="#" class="main-menu__link active">Home</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">About us</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">How it’s made?</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Our products</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger-button" data-menu-button>
      <svg aria-label="Кнопка мобильного меню" class="burger-button__svg">
        <use width="20" heigth="12" class="icon-menu" href="./images/svg-sprite/svg-sprite.svg#icon-menu-open"></use>
      </svg>
    </button>
    <button type="button" class="button-buy">
      Buy now
      <svg width="8" heigth="10" class="button-buy__img">
        <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</header>