<section class="section-hero">
  <div class="container hero">
    <h1 class="hero__title animate__animated animate__fadeInRight">
      ice cream made with <span class="hero__title--span">passion</span>
    </h1>
    <picture class="hero__img-icecream animate__animated animate__pulse">
      <source srcset="
          ./images/header/desktop/slider-pic7@1x.webp 1x,
          ./images/header/desktop/slider-pic7@2x.webp 2x,
          ./images/header/desktop/slider-pic7@3x.webp 3x
        " media="(min-width: 1200px)" type="image/webp" />
      <source srcset="
          ./images/header/tablet/slider-pic7@1x.webp 1x,
          ./images/header/tablet/slider-pic7@2x.webp 2x,
          ./images/header/tablet/slider-pic7@3x.webp 3x
        " media="(min-width: 768px)" type="image/webp" />
      <source srcset="
          ./images/header/mobile/slider-pic7@1x.webp 1x,
          ./images/header/mobile/slider-pic7@2x.webp 2x,
          ./images/header/mobile/slider-pic7@3x.webp 3x
        " media="(max-width: 767px)" type="image/webp" />

      <img srcset="
          ./images/header/mobile/slider-pic7@1x.png  171w,
          ./images/header/mobile/slider-pic7@2x.png  342w,
          ./images/header/mobile/slider-pic7@3x.png  513w,
          ./images/header/tablet/slider-pic7@1x.png  143w,
          ./images/header/tablet/slider-pic7@2x.png  286w,
          ./images/header/tablet/slider-pic7@3x.png  429w,
          ./images/header/desktop/slider-pic7@1x.png 236w,
          ./images/header/desktop/slider-pic7@2x.png 472w,
          ./images/header/desktop/slider-pic7@3x.png 708w
        " sizes="(min-width: 1200px) 236px, (min-width: 768px) 143px,  171px"
        src="./images/header/mobile/slider-pic7@1x.png" alt="IceCream" />
    </picture>

    <div class="hero__img-disk"></div>

    <div class="hero__btn-section animate__animated animate__fadeInRight" id="heronav">
      <a href="#products" class="hero__button hero__button--pr">Products</a>

      <a href="#howitsmade" class="hero__button hero__button--hw">
        How it’s made?
      </a>


    </div>

    <picture class="hero__img-milk animate__animated animate__pulse">
      <source srcset="
          ./images/header/desktop/slider-pic5@1x.webp 1x,
          ./images/header/desktop/slider-pic5@2x.webp 2x,
          ./images/header/desktop/slider-pic5@3x.webp 3x
        " media="(min-width: 1200px)" type="image/webp" />
      <source srcset="
          ./images/header/tablet/slider-pic5@1x.webp 1x,
          ./images/header/tablet/slider-pic5@2x.webp 2x,
          ./images/header/tablet/slider-pic5@3x.webp 3x
        " media="(min-width: 768px)" type="image/webp" />

      <source srcset="
          ./images/header/tablet/slider-pic5@1x.webp 1x,
          ./images/header/tablet/slider-pic5@2x.webp 2x,
          ./images/header/tablet/slider-pic5@3x.webp 3x
        " media="(max-width: 767px)" type="image/webp" />

      <img srcset="
          ./images/header/desktop/slider-pic5@1x.png 213w,
          ./images/header/tablet/slider-pic5@1x.png  252w,
          ./images/header/desktop/slider-pic5@2x.png 426w,
          ./images/header/tablet/slider-pic5@2x.png  504w,
          ./images/header/tablet/slider-pic5@3x.png  756w,
          ./images/header/desktop/slider-pic5@3x.png 639w
        " sizes="(min-width: 1200px) 213px, (min-width: 768px) 252px,  252px"
        src="./images/header/tablet/slider-pic5@1x.png" alt="IceCream" />
    </picture>

    <picture class="hero__img-girl animate__animated animate__backInRight">
      <source srcset="
          ./images/header/desktop/slider-pic4@1x.webp 1x,
          ./images/header/desktop/slider-pic4@2x.webp 2x,
          ./images/header/desktop/slider-pic4@3x.webp 3x
        " media="(min-width: 1200px)" type="image/webp" />

      <source srcset="
          ./images/header/tablet/slider-pic4@1x.webp 1x,
          ./images/header/tablet/slider-pic4@2x.webp 2x,
          ./images/header/tablet/slider-pic4@3x.webp 3x
        " media="(min-width: 768px)" type="image/webp" />

      <source srcset="
          ./images/header/tablet/slider-pic4@1x.webp 1x,
          ./images/header/tablet/slider-pic4@2x.webp 2x,
          ./images/header/tablet/slider-pic4@3x.webp 3x
        " media="(max-width: 767px)" type="image/webp" />

      <img srcset="
          ./images/header/tablet/slider-pic4@1x.png  190w,
          ./images/header/desktop/slider-pic4@1x.png 304w,
          ./images/header/tablet/slider-pic4@2x.png  380w,
          ./images/header/tablet/slider-pic4@3x.png  570w,
          ./images/header/desktop/slider-pic4@2x.png 608w,
          ./images/header/desktop/slider-pic4@3x.png 912w
        " sizes="(min-width: 1200px) 304px, (min-width: 768px) 190px, 190px"
        src="./images/header/tablet/slider-pic4@1x.png" alt="IceCream" />
    </picture>

    <div class="hero__block-cafes animate__animated animate__heartBeat">
      <p class="hero__block-cafes__title">16</p>
      <p class="hero__block-cafes__desc">cafes</p>
    </div>
    <div class="hero__block-trucks animate__animated animate__heartBeat">
      <p class="hero__block-trucks__title">23</p>
      <p class="hero__block-trucks__desc">food trucks</p>
    </div>

    <div class="hero__block-text animate__animated animate__fadeInRight">
      <p class="hero__block-text__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="./" class="hero__block-text__btn">
        <svg width="18" height="18" class="hero__block-text__svg">
          <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>