<div class="mob-menu is-hidden" data-menu>
    <button class="mob-menu__button-close" data-menu-button-close>
        <svg class="mob-menu__icon-close" width="20" height="20">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-close-cross"></use>
        </svg>
    </button>

    <button type="button" class="mob-menu__button-buy button-buy" data-modal-btm-open>
        Buy now
        <svg class="button-buy__img">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"></use>
        </svg>
    </button>

    <ul class="mob-menu__list">
        <li class="mob-menu__item mob-menu__item--current"><a href="#header" class="link" data-header>Home</a>
        </li>
        <li class="mob-menu__item"><a href="#reviews" class="link" data-reviews>About us</a></li>
        <li class="mob-menu__item"><a href="#howitsmade" class="link" data-howitsmade>How it’s made?</a></li>
        <li class="mob-menu__item"><a href="#products" class="link" data-products>Our products</a></li>
        <li class="mob-menu__item"><a href="#contacts" class="link" data-contacts>Contact</a></li>
    </ul>
</div>