<div>
    <div class="mob-menu__container" id="mob-menu__container" data-menu>
        <button class="mob-menu__button-close" aria-controls="menu-container" data-menu-button-close>
            <img class="icon-close" src="/src/images/header/close.svg"/>
        </button>
        <button type="button" class="mob-menu__button-buy button-buy">
            Buy now
            <svg width="8" heigth="10" class="button-buy__img">
              <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>

        <ul class="mob-menu__list">
            <li class="mob-menu__item mob-menu__item--current"><a href="" class="link">Home</a></li>
            <li class="mob-menu__item"><a href="" class="link">About us</a></li>
            <li class="mob-menu__item"><a href="#howitsmade" class="link">How it’s made?</a></li>
            <li class="mob-menu__item"><a href="#products" class="link">Our products</a></li>
            <li class="mob-menu__item"><a href="#contacts" class="link">Contact</a></li>
        </ul>
    </div>
    <div class="mob-menu__overlay"></div>
</div>