<!-- Products -->
<section class="products" id="products">
  <div class="container products__tab">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item--pink">
        <h3 class="products__item-title">ice cream</h3>
        <div class="products__dots">
          <span class="products__dot"></span>
          <span class="products__dot"></span>
          <span class="products__dot"></span>
        </div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button" type="button" data-products-modal-open>
          <svg class="products__icon" width="11" height="10">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="products__modal-wrapper is-hidden" data-products-modal>
          <div class="products__modal products__modal--pink">
            <p class="products__modal-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et
            </p>
            <button
              class="products__button products__button--left"
              type="button"
              data-products-modal-close
            >
              <svg class="products__modal-icon" width="11" height="10">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products__item products__item--crema">
        <h3 class="products__item-title">ice coffee</h3>
        <div class="products__wrapper">
          <span class="products__dot"></span>
          <span class="products__dot"></span>
          <span class="products__dot"></span>
        </div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button" type="button" data-products-modal-open>
          <svg class="products__icon" width="11" height="10">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="products__modal-wrapper is-hidden" data-products-modal>
          <div class="products__modal products__modal--crema">
            <p class="products__modal-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et
            </p>
            <button
              class="products__button products__button--left"
              data-products-modal-close
              type="button"
            >
              <svg class="products__modal-icon" width="11" height="10">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products__item products__item--green">
        <h3 class="products__item-title">milkshakes</h3>
        <div class="products__wrapper">
          <span class="products__dot"></span>
          <span class="products__dot"></span>
          <span class="products__dot"></span>
        </div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button" type="button" data-products-modal-open>
          <svg class="products__icon" width="11" height="10">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="products__modal-wrapper is-hidden" data-products-modal>
          <div class="products__modal products__modal--green">
            <p class="products__modal-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et
            </p>
            <button
              class="products__button products__button--left"
              type="button"
              data-products-modal-close
            >
              <svg class="products__modal-icon" width="11" height="10">
                <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
