<!-- Products -->
<section class="products">
  <div class="container products__tab">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item--pink">
        <h3 class="products__item-title">ice cream</h3>
        <div class="products__dots">
          <span class="products__dot"></span>
          <span class="products__dot"></span>
          <span class="products__dot"></span>
        </div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button" type="button">
          <svg class="products__icon" width="11" height="10">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--crema">
        <h3 class="products__item-title">ice cream</h3>
        <div class="products__wrapper">
          <span class="products__dot"></span>
          <span class="products__dot"></span>
          <span class="products__dot"></span>
        </div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button" type="button">
          <svg class="products__icon" width="11" height="10">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--green">
        <h3 class="products__item-title">ice cream</h3>
        <div class="products__wrapper">
          <span class="products__dot"></span>
          <span class="products__dot"></span>
          <span class="products__dot"></span>
        </div>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button" type="button">
          <svg class="products__icon" width="11" height="10">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
