<section class="customer-reviews section" id="reviews">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="container slideshow-container">
    <ul class="card-list list">
      <li class="card-list__item mySlides fade">
        <picture class="card-list__picture">
          <source srcset="
              ./images/reviews/testimonials1.webp    1x,
              ./images/reviews/testimonials1-2x.webp 2x
            " media="(min-wigth: 1200px)" type="image/webp" />
          <img class="card-list__img" src="./images/reviews/testimonials1.jpg" alt="photo of the client" width="85"
            height="85" />
        </picture>
        <div class="card-list__top-wrap">
          <svg class="card-list__icon" width="54" height="40">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-hooks"></use>
          </svg>
          <svg class="card-list__icon--tablet" width="60" height="40">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-hooks-tablet"></use>
          </svg>
          <div class="card-list__gradient">
            <p class="card-list__iteam-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <h3 class="card-list__iteam-title">Emily, Los Angeles</h3>
      </li>
      <li class="card-list__item mySlides fade">
        <picture class="card-list__picture">
          <source srcset="
              ./images/reviews/testimonials2.webp    1x,
              ./images/reviews/testimonials2-2x.webp 2x
            " media="(min-wigth: 1200px)" type="image/webp" />
          <img class="card-list__img" src="./images/reviews/testimonials2.jpg" alt="photo of the client" width="85"
            height="85" />
        </picture>
        <div class="card-list__top-wrap">
          <svg class="card-list__icon" width="54" height="40">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-hooks"></use>
          </svg>
          <svg class="card-list__icon--tablet" width="60" height="40">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-hooks-tablet"></use>
          </svg>
          <div class="card-list__gradient">
            <p class="card-list__iteam-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <h3 class="card-list__iteam-title">Amanda, Chicago</h3>
      </li>
      <li class="card-list__item mySlides fade">
        <picture class="card-list__picture">
          <source srcset="
              ./images/reviews/testimonials3.webp    1x,
              ./images/reviews/testimonials3-2x.webp 2x
            " media="(min-wigth: 1200px)" type="image/webp" />
          <img class="card-list__img" src="./images/reviews/testimonials3.jpg" alt="photo of the client" width="85"
            height="85" />
        </picture>
        <div class="card-list__top-wrap">
          <svg class="card-list__icon" width="54" height="40">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-hooks"></use>
          </svg>
          <svg class="card-list__icon--tablet" width="60" height="40">
            <use href="./images/svg-sprite/svg-sprite.svg#icon-hooks-tablet"></use>
          </svg>
          <div class="card-list__gradient">
            <p class="card-list__iteam-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <h3 class="card-list__iteam-title">Ada, New York</h3>
      </li>
    </ul>
  </div>
  <div class="slider-buttons">
    <button class="prev slider-btn" onclick="plusSlides(-1)">&#10094;</button>
    <button class="next slider-btn" onclick="plusSlides(1)">&#10095;</button>
  </div>

  <div style="text-align: center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</section>