.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
    // letter-spacing: 0.06em;
    color: #D41443;
    background-color: #ffffff;
    border-radius: 22px;
    padding: 2% 6%;
    min-width: 210px;
    border: none;
    
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .btn:hover,
    .btn:focus {
    background-color: #ECEBEB;
    }