.about {
  background-color: $second-background-color;

  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  }

  @include desktop {
    background-image: url(../images/about/about-desk-2-1x.webp);
    @include retina {
      background-image: url(../images/about/about-desk-2-2x.webp);
    }
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 235px;
  }
}
.about-cont {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 32px;
  }

  @include desktop {
    padding: 0 16px;
  }
}
.tab-direction {
  @include tablet {
    display: flex;
  }
}
.about-label {
  margin-bottom: 15px;

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;

  @include tablet {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: calc(30 / 26);
  }

  @include desktop {
    font-size: 30px;
    letter-spacing: 0.04em;
    line-height: calc(34 / 30);
  }

  line-height: calc(21 / 18);
  text-align: center;
  text-transform: uppercase;
  color: $second-title-color;
}
.about-title {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: calc(55 / 48);
  }

  @include desktop {
    margin-bottom: 60px;
    font-size: 58px;
    line-height: calc(66 / 58);
    letter-spacing: 0.06em;
  }

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;

  line-height: calc(39 / 34);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $first-title-color;
}
.about-picture {
  @include tablet {
    width: 336px;
    margin-right: 32px;
  }

  @include desktop {
    width: 500px;
    margin-right: 100px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
}
.about-description {
  width: 220px;

  @include tablet {
    width: 334px;
  }

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media screen and (max-width: 767px) {
    background-image: url(../images/about/about-2-1x.webp);
    @include retina {
      background-image: url(../images/about/about-2-2x.webp);
    }
  }
  @include desktop {
    width: 463px;
    padding-top: 90px;
  }

  &__pre-text {
    @include tablet {
      font-size: 14px;
      line-height: calc(25 / 14);
    }

    @include desktop {
      margin-bottom: 32px;

      font-size: 16px;
      line-height: calc(28 / 16);
      letter-spacing: 0.04em;
    }

    margin-bottom: 40px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(19 / 12);
    color: $first-text-color;
  }

  &__post-text {
    @include tablet {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: calc(19 / 12);
      letter-spacing: 0.04em;
    }

    @include desktop {
      margin-bottom: 40px;

      font-size: 14px;
      line-height: calc(27 / 14);
      letter-spacing: 0.04em;
    }

    margin-bottom: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(25 / 14);
    color: #907e82;
  }
}
.about-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 177px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);

  color: $first-title-color;
  border-radius: 22px;
  background-color: $second-text-color;

  border: none;
  padding: 0;
  cursor: pointer;
  transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1),
    500ms color cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover,
  &:focus {
    color: $second-text-color;
    background-color: $first-title-color;
  }
}
.arrow-btn {
  margin-left: 13px;
  fill: $first-title-color;
  transition: 500ms fill cubic-bezier(0.165, 0.84, 0.44, 1);

  .about-button:hover &,
  .about-button:focus & {
    fill: $second-text-color;
  }
}
