.advantages {
  background-color: #fff5f6;

  &__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      gap: 22px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: grid;
      gap: 32px;
    }

    @include desktop {
      display: flex;
      gap: 115px;
    }
  }

  &__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 180px;
    }
  }

  &__title {
    display: grid;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #d41443;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-weight: 400;
      font-size: 48px;
      line-height: 1.15;
      margin-bottom: 13px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-weight: 400;
      font-size: 48px;
      line-height: 1.15;
      margin-bottom: 13px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 4px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;

    color: $first-text-color;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 14px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 12px;
      line-height: 170%;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 230px;
    }
  }

  &__title::before {
    content: '';
    width: 50px;
    height: 50px;
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 36px;
    }

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/advantages/1-min.png);
    @include retina {
      background-image: url(../images/advantages/1-2x-min.png);
    }
  }
  &__title--second::before {
    background-image: url(../images/advantages/2-min.png);
    @include retina {
      background-image: url(../images/advantages/2-2x-min.png);
    }
  }
  &__title--third::before {
    width: 45px;
    background-image: url(../images/advantages/3-min.png);
    @include retina {
      background-image: url(../images/advantages/3-2x-min.png);
    }
  }
}
