.advantages {background: #FFF5F6;
@media screen and (min-width: 768px) and (max-width: 1199px) {
        


    }
}

.container-advantages{
        @media screen and (min-width: 768px) and (max-width: 1199px) {
               max-width: 560px;
            margin-left: 0px;
            margin-right: 23px;
        
            }
}

.advantages-list {
    display: flex;
    gap: 115px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            gap: 15px;
    
        }
}

.advantages-div {}

.advantages-link {
   list-style: none;
}
.advantages-icon {
    fill: #FFA5BA;;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 36px;
        }
        
}

.advantages-logo {
    font-family: 'Titan One';
        font-style: normal;
    font-weight: 400;
        font-size: 58px;
        line-height: 1.14;
        text-align: left;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: #D41443;
        margin-bottom: 16px;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
                font-weight: 400;
                    font-size: 48px;
                    line-height: 1.15;
                    margin-bottom: 13px;
            }
                          @media screen and (min-width: 320px) and (max-width: 767px) {
                        font-weight: 400;
                            font-size: 48px;
                            line-height: 1.15;
                            margin-bottom: 13px;
                          }
}

.advantages-text {font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    
    letter-spacing: 0.02em;

    color: #000000;
@media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 14px;
    
    }  @media screen and (min-width: 320px) and (max-width: 767px) {
          font-size: 12px;
            line-height: 170%;
      }

        
}