.section-conacts {
  background-image: linear-gradient(
    to bottom,
    $first-background-color 0%,
    $first-background-color 20%,
    $second-background-color 20%,
    $second-background-color 100%
  );
  padding-top: 0;
  padding-bottom: 40px;
  @include tablet {
    padding-bottom: 60px;
  }
}
.contacts {
  &__card-sets {
    margin-bottom: 32px;
    background: transparent;

    @include tablet {
      margin-bottom: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }
  }

  &__card {
    width: 280px;
    margin: 0 auto;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px;
    background-color: $second-text-color;
    @include tablet {
      width: auto;
      margin: 0;
    }

    @include desktop {
      padding: 40px 40px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__list {
    margin-bottom: 24px;
    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__item-title {
    padding-top: 2px;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    background-color: #f0d1a5;
    color: #ffffff;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;

    @include tablet {
      font-size: 16px;
      line-height: 1.87;
      height: 28px;
      margin-bottom: 32px;
    }

    &--style {
      width: 138px;
      background-color: #c2e297;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    margin-bottom: 8px;

    @include tablet {
      margin-bottom: 12px;
    }
  }

  &__description {
    width: 179px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907e82;

    @include tablet {
      width: 159px;
      font-size: 16px;
      line-height: 1.83;
    }
    @include desktop {
      width: 243px;
    }
  }

  &__aside {
    padding: 24px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
      padding: 32px 0;
    }
  }

  //   &__line {
  //     width: 100%;
  //     height: 1px;
  //     background-color: #e1e1e1;
  //     border: 2px;
  //     margin-top: 24px;
  //     margin-bottom: 24px;

  //     @include tablet {
  //       margin-top: 32px;
  //       margin-bottom: 32px;
  //     }
  //   }

  &__date:first-child {
    margin-bottom: 8px;
  }

  &__day,
  &__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;

    @include tablet {
      font-size: 14px;
      line-height: 1.86;
    }
    @include desktop {
      font-size: 16px;
    }
  }

  &__time {
    color: #ffa5ba;
  }

  &__inner {
    margin-top: 24px;
    @include tablet {
      margin-top: 32px;
    }
  }

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: #907e82;
    cursor: pointer;
    transition: 500ms color cubic-bezier(0.165, 0.84, 0.44, 1),
      500ms text-shadow cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__link:hover {
    color: #db0037;
    text-shadow: 3px 3px 4px #d414444a;
  }

  &__link:hover .contacts__link-icon {
    opacity: 1;
    transition: 500ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &__link-icon {
    position: absolute;
    left: 130px;
    bottom: 0;
    fill: #db0037;
    opacity: 0;
    transition: 500ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__container-btn {
    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
  &__btn-rotator:first-child {
    margin-bottom: 10px;
    @include tablet {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 168px;
    height: 44px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);

    color: $first-title-color;
    border-radius: 22px;
    background-color: $second-text-color;

    border: none;
    padding: 0;
    cursor: pointer;
    transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1),
      500ms color cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:first-child {
      color: $second-text-color;
      background-color: $first-title-color;
    }

    &:first-child:hover {
      color: $second-text-color;
      background-color: #db0037;
      transform: scale(1.1);
      box-shadow: -3px -4px 5px #7b0c2847;
    }

    &:hover,
    &:focus {
      color: $second-text-color;
      background-color: $first-title-color;
      transform: scale(1.1);
      box-shadow: -3px -4px 5px #7b0c2847;
    }
  }

  .arrow-button {
    margin-left: 13px;
    fill: $second-text-color;
    transition: 500ms fill cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .arrow-btn-addition {
    margin-left: 13px;
    fill: $first-title-color;
    transition: 500ms fill cubic-bezier(0.165, 0.84, 0.44, 1);

    .contacts__button:hover &,
    .contacts__button:focus & {
      fill: $second-text-color;
    }
  }
}

// LOCATION
// .container-locations {
//   height: 502px;
//   position: relative;
//   overflow: hidden;
// }

// .locations {
//   position: relative;
//   overflow: hidden;
//   background-color: #ffb8ca;
//   padding-top: 0;
//   padding-bottom: 0;

//   &__img {
//     position: absolute;
//     z-index: 10;

//     width: 346px;
//     height: 324px;
//     background-color: #ffa5ba;
//     border-radius: 50%;
//     bottom: -5px;
//     right: -65px;
//   }

//   &__button-close {
//     position: absolute;
//     background-color: transparent;
//     border: 0;
//     background: none;
//     width: 40px;
//     height: 40px;
//     cursor: pointer;
//     top: 10;
//     right: 10;
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   &__icon-close {
//     fill: #fff;
//     transition: fill 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
//     .locations__button-close:hover &,
//     .locations__button-close:focus & {
//       fill: #d41443;
//     }
//   }

//   &__logo {
//     padding: 10px 0;
//     display: inline-block;
//   }

//   &__nav {
//     position: absolute;
//     z-index: 20;
//   }

//   &__title {
//     background-color: #ffffff;
//     border-radius: 6px;
//     text-align: center;
//     letter-spacing: 0.04em;
//     color: #d41443;
//     margin: 15px 0 8px;
//     font-family: Titan One;
//     font-size: 34px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 1.15;
//   }

//   &__container-btn {
//     display: flex;
//     justify-content: center;
//     width: calc(100% - 20px) / 3;
//   }

//   &__button {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     height: 44px;

//     font-weight: 700;
//     font-size: 16px;
//     line-height: calc(21 / 16);

//     color: $first-title-color;
//     border-radius: 22px;
//     background-color: $second-text-color;

//     border: none;
//     padding: 0;
//     cursor: pointer;
//     transition: 500ms background-color cubic-bezier(0.165, 0.84, 0.44, 1),
//       500ms color cubic-bezier(0.165, 0.84, 0.44, 1),
//       transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
//   }
// }
