.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

// logo
.logo-img {
  width: 199px;
  @media screen and (min-width: 1200px) {
    margin-right: 128px;
  }
}

//  menu-wrapper
.main-menu {
  display: flex;
  align-items: center;
  padding-top: 8px;

  &__nav {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0px;
    height: 125px;
  }

  // ----- list ul -------------
  &__list {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }
  // -----  List li ----------------------
  &__item:not(:last-child) {
    margin-right: 30px;
  }

  // ------ List link  --------------------
  &__link {
    font-weight: 700;
    line-height: 1.31;
    display: flex;
    align-items: center;

    color: #ffffff;

    padding: 25px 0;

    transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover,
    &:focus {
      color: #d41443;
    }

    &.current {
      color: #d41443;
    }
  }
}

// burger
.burger-button {
  display: inline-block;

  margin-left: auto;
  height: 14px;

  padding: 0;

  background: transparent;
  border: none;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.burger-button__svg {
  width: 20px;
  height: 14px;
}

// BUTTON BUY
.button-buy {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 44px;

  margin-left: 32px;

  background-color: #ffffff;

  border: none;
  border-radius: 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: #d41443;

  cursor: pointer;

  transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover,
  &:focus {
    // background-color: #ecebeb;

    color: #fff;
    background-color: #d41443;
    transform: scale(1.1);
    box-shadow: -3px -4px 5px #7b0c2847;
  }

  &__img {
    height: 10px;
    margin-left: 12px;
    fill: currentColor;
    position: absolute;
    top: 18px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
