.section-hero {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffb8ca;
}

.hero {
  position: relative;

  height: 502px;
  overflow: hidden;

  // background-color: #ffb8ca;

  @media screen and (min-width: 768px) {
    height: 416px;
  }

  @media screen and (min-width: 1200px) {
    height: 664px;
  }
}

.hero__title {
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  width: 218px;

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    top: 102px;
    width: 162px;

    font-size: 22px;
    line-height: 25px;
    transform: none;
  }

  @media screen and (min-width: 1200px) {
    top: 147px;
    width: 277px;
    transform: none;

    font-size: 38px;
    line-height: 44px;

    text-transform: uppercase;
  }
}

.hero__title--span {
  font-family: 'Titan One';
  font-size: 48px;
  line-height: 96.5%;

  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 90.5%;
    /* or 31px */
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
    color: #d41443;
  }
}

.hero__btn-section {
  position: absolute;
  z-index: 3;
  display: flex;
  gap: 8px;
  bottom: 158px;

  @media screen and (min-width: 768px) {
    bottom: 190px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 316px;
  }
}

// ---------------- BUTTON ----------------
.btn {
  height: 24px;

  padding: 0 15px;
  font-family: 'DM Sans';

  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;

  color: #d41443;

  background-color: #ffffff;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: #d41443;
  }
}

// .hero__btn--red {
//   color: #ffffff;
//   background-color: #d41443;
// }

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 20px;

  padding: 0;
  font-weight: 400;

  transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  cursor: pointer;
}

.hero__button--pr {
  min-width: 62px;
  height: 40px;
  color: #ffffff;
  background-color: #d41443;

  font-size: 8px;
  line-height: 10px;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #d41443;
    transform: scale(1.1);
    box-shadow: -3px -4px 5px #7b0c2847;
  }

  @media screen and (min-width: 1200px) {
    width: 107px;
    height: 40px;

    font-size: 14px;
    line-height: 18px;
  }
  @media screen and (max-width: 787px) {
    display: none;
  }
}

.hero__button--hw {
  min-width: 83px;
  height: 40px;
  color: #d41443;

  background-color: #ffffff;
  font-size: 8px;
  line-height: 10px;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #d41443;
    transform: scale(1.1);
    box-shadow: -3px -4px 5px #7b0c2847;
  }

  @media screen and (min-width: 1200px) {
    width: 138px;
    height: 40px;

    font-size: 14px;
    line-height: 18px;
  }

  @media screen and (max-width: 787px) {
    display: none;
  }
}

// .hero__button--pr:hover {
//   color: #fff;
//   background-color: #d41443;
//   transform: scale(1.1);
//   box-shadow: -3px -4px 5px #7b0c2847;
// }

// --------------------------------------------------

// ----------------IMG ICECREAM ---------------------

.hero__img-icecream {
  position: absolute;
  right: 20px;
  bottom: 0;
  z-index: 2;
  img {
    width: 171px;
  }

  @media screen and (min-width: 768px) {
    right: 303px;
    width: 143px;
    height: 336px;
    img {
      width: 143px;
    }
  }

  @media screen and (min-width: 1200px) {
    right: 328px;
    width: 236px;
    height: 557px;

    img {
      width: 100%;
    }
  }
}

// ----------------  IMG DISK -----------------------
.hero__img-disk {
  position: absolute;
  bottom: 75px;
  right: -65px;
  width: 346px;
  height: 344px;
  background-color: #ffa5ba;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    right: 185px;
    bottom: 40px;
    width: 335px;
    height: 333px;
  }

  @media screen and (min-width: 1200px) {
    right: 149px;
    bottom: 77px;
    width: 534px;
    height: 534px;
  }
}

// ------------------- IMG MILK -------------------

.hero__img-milk {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 152px;
  height: 154px;

  @media screen and (min-width: 1200px) {
    width: 213px;
    height: 216px;
    bottom: 60px;
    left: 15px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

//  ----------------- IMG GIRL ----------------------

.hero__img-girl {
  position: absolute;
  bottom: 0px;
  right: 21px;

  width: 190px;
  height: 150px;

  @media screen and (min-width: 1200px) {
    right: 16px;
    width: 304px;
    height: 241px;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

// ------------------ block cafes --------------------
.hero__block-cafes {
  position: absolute;
  z-index: 4;
  top: 92px;
  right: 28px;

  &__title {
    font-family: 'Titan One';
    font-size: 28px;
    line-height: 32px;

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;

    @media screen and (min-width: 1200px) {
      font-size: 46px;
      line-height: 53px;
    }
  }

  &__desc {
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: #ffffff;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -8px;
    z-index: -1;
    @media screen and (min-width: 1200px) {
      right: -18px;
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    top: 152px;
    right: 39px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__block-trucks {
  position: absolute;
  z-index: 4;
  top: 152px;
  right: 28px;

  &__title {
    font-family: 'Titan One';
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #d41443;

    @media screen and (min-width: 1200px) {
      font-size: 46px;
      line-height: 53px;
    }
  }

  &__desc {
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -8px;
    z-index: -1;
    @media screen and (min-width: 1200px) {
      width: 30px;
      height: 30px;
      right: -18px;
    }
  }

  @media screen and (min-width: 1200px) {
    top: 244px;
    right: 39px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

//------------------------block text-----------------------------
.hero__block-text {
  position: absolute;
  width: 115px;
  left: 184px;
  bottom: 81px;

  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 150%;
  /* or 12px */
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    left: 265px;
    bottom: 130px;
    width: 200px;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.hero__block-text__btn {
  position: relative;
  background-color: #ffffff;
  height: 18px;
  width: 18px;
  display: block;
  border-radius: 50%;
  margin-top: 7px;

  transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:focus,
  &:hover {
    // background-color: #ecebeb;

    color: #d41443;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: -3px -4px 5px #7b0c2847;
  }

  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
  }
}

.hero__block-text__svg {
  fill: #d41443;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateY(-50%) translateX(-50%);
}
